@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --color-white: #fafaf9;
  --color-white--200: #e7e5e4;
  --color-white--400: #a8a29e;
  --color-white--500: #78716c;
  --color-white--700: #44403c;
  --color-black: #0c0a09;
  --color-black--09: rgba(12, 10, 9, 0.9);
  --color-red--600: #dc2626;
  --color-red--700: #891c1c;
  --color-red--800: #991b1b;
  --color-red--900: #7f1d1d;
  --color-red--950: #450a0a;
  --color-rose--300: #fda4af;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-red--900) var(--color-black);
}
body {
  background-color: var(--color-black);
  font:
    400 1.6rem/1.5 "Roboto",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@media screen and (max-width: 28.125em) {
  body {
    font-size: 1.5rem;
  }
}
::selection {
  background-color: var(--color-red--800);
  color: var(--color-white);
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 500;
  font-family: "Oswald";
}

h2 {
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Oswald";
}

h4 {
  font-size: 2.2rem;
  margin: 2rem 0 1rem;
}

p {
  margin: 1rem 0 2.5rem;
}

ul {
  margin: 1.5rem 0 2rem 1rem;
}

a {
  transition: color 0.2s ease;
}
p a,
ul a,
.link {
  color: var(--color-rose--300);
  cursor: pointer;
}

hr {
  margin: 2rem 0;
  border-color: var(--color-stone--700);
}

p a:hover,
ul a:hover,
p a:focus,
ul a:focus,
.link:hover,
.link:focus {
  color: var(--color-white);
}

nav a {
  color: var(--color-white);
}
nav a:hover,
nav a:focus,
nav a.active {
  color: var(--color-rose--300);
}

nav button a:hover,
nav button a:focus,
nav button a.active {
  color: inherit;
}

/* Side bar custom CSS */
.sidebar__nav-title {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease;
}
.sidebar--expanded {
  width: 35rem;

  & .sidebar__nav-title {
    opacity: 1;
  }
}

/* Content wall */
.content-wall {
  ul {
    list-style-type: disc;
    padding-left: 1rem;

    ul {
      list-style-type: circle;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}

/* Footer */
footer a {
  color: var(--color-white--400);
  transition: color 0.2s ease;
}

footer a:hover,
footer a:focus {
  color: var(--color-white);
}

footer svg {
  height: 3rem;
  fill: var(--color-white--500);
  transition: fill 0.2s ease;
}

footer a:hover svg,
footer a:focus svg {
  fill: var(--color-white);
}

.exploreMoreBg {
  background-position: top right;
  background-size: 100% auto;
  background-image: url("assets/explore-bg.jpg");
  background-image: image-set(
    url("assets/explore-bg.webp") type("image/webp"),
    url("assets/explore-bg.jpg") type("image/jpeg"),
    url("assets/explore-bg-2x.webp") type("image/webp") 2x,
    url("assets/explore-bg-2x.jpg") type("image/jpeg") 2x
  );
}

.movies-main-bg {
  background-image: url("assets/movies-bg.jpg");
  background-image: image-set(
    url("assets/movies-bg.webp") type("image/webp"),
    url("assets/movies-bg.jpg") type("image/jpeg"),
    url("assets/movies-bg-2x.webp") type("image/webp") 2x,
    url("assets/movies-bg-2x.jpg") type("image/jpeg") 2x
  );
}

.shows-main-bg {
  background-image: url("assets/shows-bg.jpg");
  background-image: image-set(
    url("assets/shows-bg.webp") type("image/webp"),
    url("assets/shows-bg.jpg") type("image/jpeg"),
    url("assets/shows-bg-2x.webp") type("image/webp") 2x,
    url("assets/shows-bg-2x.jpg") type("image/jpeg") 2x
  );
}

@media screen and (max-width: 767px) {
  .movies-main-bg {
    background-image: url("assets/movies-bg-mobile.jpg");
    background-image: image-set(
      url("assets/movies-bg-mobile.webp") type("image/webp"),
      url("assets/movies-bg-mobile.jpg") type("image/jpeg"),
      url("assets/movies-bg.webp") type("image/webp") 2x,
      url("assets/movies-bg.jpg") type("image/jpeg") 2x
    );
  }

  .shows-main-bg {
    background-image: url("assets/shows-bg-mobile.jpg");
    background-image: image-set(
      url("assets/shows-bg-mobile.webp") type("image/webp"),
      url("assets/shows-bg-mobile.jpg") type("image/jpeg"),
      url("assets/shows-bg.webp") type("image/webp") 2x,
      url("assets/shows-bg.jpg") type("image/jpeg") 2x
    );
  }
}
